.banner {
  width: 100%;
  height: 400px;
}
.banner img {
  height: 100%;
}
.detail {
  width: 1200px;
  height: 650px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
.detail h2 {
  width: 100%;
  height: 73px;
  text-align: center;
  line-height: 73px;
  margin-top: 28px;
  position: relative;
  font-size: 30px;
}
.detail h2 span {
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}
.detail .detaol_txt {
  width: 100%;
  flex: 1;
}
.detail .detaol_txt img {
  width: 554px;
  height: 367px;
  float: left;
  margin-top: 73px;
}
.detail .detaol_txt .text {
  height: 508px;
  margin-top: 64px;
  width: 600px;
  float: right;
}
.detail .detaol_txt .text p {
  line-height: 35px;
  font-size: 16px;
  color: #666666;
  text-indent: 2em;
}
#pattern {
  width: 100%;
  height: 1660px;
  background-color: #eeeeee;
}
#pattern .pattern {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
#pattern .pattern h2 {
  width: 100%;
  height: 73px;
  text-align: center;
  line-height: 73px;
  margin-top: 28px;
  position: relative;
  font-size: 30px;
}
#pattern .pattern h2 span {
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}
#pattern .pattern .pattern_txt {
  width: 100%;
  flex: 1;
  margin-top: 50px;
}
#pattern .pattern .pattern_txt .item {
  width: 590px;
  height: 590px;
  position: relative;
  float: left;
}
#pattern .pattern .pattern_txt .item .show {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 36px;
  color: #333333;
  font-weight: 900;
  background-color: #FFFFFF;
}
#pattern .pattern .pattern_txt .item .show img {
  margin-top: 176px;
  margin-bottom: 40px;
}
#pattern .pattern .pattern_txt .item .hide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}
#pattern .pattern .pattern_txt .item .hide img {
  width: 100%;
  height: 100%;
}
#pattern .pattern .pattern_txt .item .hide .text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
}
#pattern .pattern .pattern_txt .item .hide .text h4 {
  margin-top: 116px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
#pattern .pattern .pattern_txt .item .hide .text p {
  width: 480px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 22px;
  display: block;
}
.explain {
  width: 1200px;
  height: 470px;
  margin: 0 auto;
}
.explain p {
  line-height: 36px;
  font-size: 20px;
  color: #666666;
  text-indent: 2em;
  width: 908px;
  margin: 0 auto;
}
.explain .bottom {
  width: 100%;
  height: 84px;
  display: flex;
  flex-flow: row;
  margin-top: 42px;
}
.explain .bottom .items {
  height: 100%;
  width: 284px;
  display: flex;
}
.explain .bottom .items img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
.explain .bottom .items .items_r {
  float: left;
  height: 100%;
  text-align: left;
}
.explain .bottom .items .items_r img {
  width: 84px;
  height: 84px;
}
.explain .bottom .items .items_r p {
  height: 51px;
  line-height: 51px;
  color: #989898;
  font-size: 20px;
  text-indent: 0;
}
.explain .bottom .items .items_r span {
  height: 21px;
  line-height: 21px;
  display: block;
  color: #989898;
  font-size: 14px;
}
